<meta charset="UTF-8">
<title>Oi Controle</title>

<meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- BEGIN: OG TAGS -->
<meta property="og:locale" content="pt_BR" />
<meta property="og:url" content="http://oivantagens.com">
<meta property="og:site_name" content="Oi Controle">
<meta property="og:title" content="Oi Controle">
<meta property="og:description"
    content="Aproveite os aplicativos liberados e ligações ilimitadas para qualquer operadora do Brasil com o Oi Controle!">
<meta property="og:type" content="website">
<meta property="og:image" content="http://oivantagens.com/images/share-vantagens.png">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="1260">
<meta property="og:image:height" content="630">
<!-- END: OG TAGS -->

<!-- BEGIN: TWITTER CARD -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="Conta do Twitter do site (incluindo arroba)">
<meta name="twitter:title" content="Oi Controle">
<meta name="twitter:description"
    content="Aproveite os aplicativos liberados e ligações ilimitadas para qualquer operadora do Brasil com o Oi Controle!">
<meta name="twitter:creator" content="Conta do Twitter do autor do texto (incluindo arroba)">
<!-- imagens largas para o Twitter Summary Card precisam ter pelo menos 280x150px -->
<meta name="twitter:image" content="http://oivantagens.com/images/share-vantagens.png">
<!-- END: TWITTER CARD -->