<div view="home" id="home" class="">

    {{> components/header supportText=true }}

    <section class="options">

        <div class="options-title">
            {{> icons/option }}
            <h3>Para continuar navegando, vendo fotos e vídeos, escolha uma opção:</h3>
        </div>
        <div class="options-item" bg="white">
            <a class="button orange" data-redirect="recharge">Recarga</a>
            <p class="text-dark-gray">
                Ganhe até 3GB de bônus recarregando a partir de R$20! Se for sua 1ª recarga com cartão de crédito nos
                canais
                da Oi ou pelos bancos credenciados, o bônus é de 10GB!
            </p>
        </div>

        <div class="options-item" bg="white">
            <a class="button orange" data-redirect="region">Migrar para Oi Controle</a>
            <p class="text-dark-gray">
                Tenha mais Internet + Apps liberados + minutos ilimitados a partir de R$39.99/mês sem fidelidade
            </p>
        </div>

        <div class="options-item" bg="white">
            <a class="button orange" data-redirect="">Adiantamento de Recarga</a>
            <p class="text-dark-gray">
                Receba R$8 de recarga emergencial e ainda GANHE 1GB de bônus por 7 dias
            </p>
        </div>
    </section>
</div>