/* 

    Author: Oston <ti@oston.io>
    Name: oston-landings,
    Version: 0.1.0,
    Description: Code for Landing Pages
    File: app.scss

*/

// -> core
@import "./scss/core/settings";
@import "./scss/core/functions";
@import "./scss/core/mixins";
@import "./scss/core/extends";
@import "./scss/core/fonts";
@import "./scss/core/global";
@import "./scss/core/helpers";

