/* 

    Author: Oston <ti@oston.io>
    Name: oston-landings,
    Version: 0.1.0,
    Description: Code for Landing Pages
    File: app.scss

*/

// -> core
@import "./scss/core/settings";
@import "./scss/core/functions";
@import "./scss/core/mixins";
@import "./scss/core/extends";
@import "./scss/core/fonts";
@import "./scss/core/global";
@import "./scss/core/helpers";

// -> components
@import "./scss/components/accept-terms";
@import "./scss/components/header";
@import "./scss/components/plans";
@import "./scss/components/buttons";
@import "./scss/components/featured-banner";
@import "./scss/components/form";
@import "./scss/components/selected-plan";
@import "./scss/components/custom-select";
@import "./scss/components/banners";
@import "./scss/components/loadr";
@import "./scss/components/notifier";

// -> views
@import "./scss/views/home";
@import "./scss/views/form";
@import "./scss/views/success";
@import "./scss/views/region";
