<!DOCTYPE html>
<html lang="en">

    <script>
        Object.keys(localStorage).map(function (store) {
            if (store.toLowerCase() !== 'iamoston') {
                localStorage.removeItem(store);
            }
        });
    </script>

<head>

    {{> views/head }}

</head>

<body>

    {{> views/home }}

    <script>
        const hashCode = length => {
            let result           = '';
            const characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            const charactersLength = characters.length;
            for ( let i = 0; i < length; i++ ) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
            }
            return result;
        }

        const script = document.createElement('script');
        script.src ='bootstrap.js?u=' + hashCode(20);
        script.type = 'text/javascript';
        document.getElementsByTagName('body')[0].appendChild(script);
    </script>
</body>

</html>