@each $name, $color in $colors {
	[bg="#{$name}"] {
		background-color: $color;
	}
}

@each $name, $color in $colors {
	.text-#{$name} {
		color: $color !important;
	}
}

.cols {
	&[size="2"] {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		max-width: 320px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;

		> * {
			width: calc(100% / 2 - 17px);
			margin-left: 0;
			margin-right: 0;
		}

		img {
			display: block;
			width: 100%;
		}
	}
}
